*{
	padding: 0;
	margin: 0;
}

.home{
	background: url(../images/place.jpeg);
	background-position: center;
	background-size: cover;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	display: flex;
	justify-content: center;align-items: center;
	height: 100vh;
}

.home > div > h1{
	color: #0f1146;
	font-family: 'Noto Serif', serif;
}

.btn {
	background-color: lightyellow;
	color: purple;
	font-width: 80vh;
	font-size: 15px;
	font-family: 'Noto Serif', serif;
	/*border-style: none;*/
	padding: 10px 30px;
	border-radius: 30px;
	transition: .8s;
}

.btn:hover{
	background-color: green;
}

.prg{
	background: url(../images/bg2.jpeg);
	background-position: center;
	background-size: cover;
	font-family: 'Pacifico', cursive;
	font-width: 10vh;
	font-size: 10px
	height: 50vh;
	background-color: salmon;
	display: flex;

}


.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.prg > .left > div > p{
	font-size: 20px;
	color: indigo;
}

.prg > .left > div > p > span{
	color: darkgreen;
}

.left > div > img{
	height: 200px;
	width: 300px;
	border-radius: 10%
}

.right{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-align: center;
}

.prg > .right > div > p{
	font-size: 25px;
	color: black;
}

.right > div > img{
	height: 400px;
	width: 250px;
	border-radius: 10%
}

#indie{
	font-family: 'Indie Flower', cursive;
}

.aboutme{
	background: url(../images/veg.jpeg);
	background-position: center;
	background-size: cover;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.aboutme > div > img {
	
	height: 300px;
	width: 400px;
	border-radius: 30%
}

.aboutme > div > p > span{
	color: blue;
}

.pix{
	background: url(../images/bg3.jpeg);
	background-position: center;
	background-size: cover;
	font-family: 'Noto Serif', serif;
	color: black;
	font-size: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.pix > div > img{
	height: 200px;
	width: 230px;
	border-radius: 10%
}

.pix > div > img:hover{
	transform: scale(1.5 ,1.5);
	transition: 3s
}

.form{
	background: url(../images/b4.jpeg);
	background-position: center;
	background-size: cover;
	font-family: 'Noto Serif', serif;
	font-size: 50px;
	text-transform: uppercase;
	color: red;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form > h4 {
	font-size: 40px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 1px solid salmon;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}


.right2{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-family: 'Indie Flower', cursive;
	color: red;
	text-align: center;
}




